@{
    ViewData["Title"] = "Strona Główna";
}

@section AddToHead {
    <link href="@Url.Content("~/css/mainPage.css")" rel="stylesheet" type="text/css" />
}

<div class="headerPhoto">
    asdasdasd
</div>

<div class="text-center">
    <h1 class="display-4">Witaj przystojniaku</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


