@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h1 class="text-center">This is Top Secret</h1>
    <h4 class="text-center">Welcome @User.Identity.Name</h4>
    <div class="container-fluid">
        <ul>
            @foreach (var user in User.Claims)
            {
                <li>@user.Type: @user.Value</li>
            }
        </ul>
    </div>
</div>

